@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* centering elements */
html,body{
    display:flex;
    font-size:18px;
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    width:50vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:6px;
    overflow: hidden;
}

/* Styling the main card */
.main-card{
    width:100%;
    background-color: white;
    padding:30px;
}


.main-card > h2{
    color:hsl(179, 62%, 43%);
    margin-bottom:15px;
}

.main-card > h3{
    color:hsl(71, 73%, 54%);
    margin-bottom:15px;
}

.main-card > p{
    color:hsl(218, 22%, 67%);
}

/* Styling the bottom containers */
.bottom-container{
    display:grid;
    grid-template-columns:1fr 1fr;
}

/* Left container */
.left{
    background-color: hsl(179, 62%, 43%);
    padding:20px;
}

.left > h3{
    color: white;
    letter-spacing:1px;
    margin:12px 0;
}

.left > h2{
    color:white;
}

.left > h4{
    color: white;
    font-size: 26px;
    font-weight:600;
    margin-bottom: 6px;
}

.left span{
    opacity: 0.5;
    font-size:22px;
}

.left > p{
    color: white;
    margin-bottom:20px;
}

.left > .btn{
    background-color:hsl(71, 73%, 54%);
    border: none;
    padding:16px;
    width:250px;
    font-family: 'Karla', sans-serif;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Styling the right box */
.right{
    background-color:#4ABEBD;
    padding: 30px;
}

.right > h3{
    color: white;
    margin-bottom:12px;
}

.right > ul{
    list-style: none;
    color:white;
}